<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
	<div class="section" id="inputSection">
	  <h2>{{title}}</h2>
	  <p>Este parágrafo irá conter alguma coisa no futuro</p>
	  <form #f="ngForm" (ngSubmit)="clickRegister(f)" class="inputForm">
	    <div>
	      <label for="pokemonName">Insira o nome do pokemon:</label>
	      <input type="text" name="pokemonName" id="pokemonName" ngModel required/>
	    </div>
	    <input type="submit" value="Registrar"/>
	  </form>
	</div>
	<div class="section" id="listSection">
		<div>
	    <h3>Pokemóns capturados</h3>
		<ul class="pokemonList" *ngIf="capturedPokemons.length > 0; else empty">
			<div class="listD" *ngFor="let pokemon of capturedPokemons; index as i">
				<li>ID: {{pokemon._id}} </li> 
				<li>Nome: {{pokemon.name}}</li>
				<button class="deleteButton" (click)="clickDelete(i, pokemon._id)">Excluir pokemon</button>
			</div>
		</ul>
		<ng-template #empty>Ainda não capturou nenhum Pokemon</ng-template>
		</div>
	</div>
    </div>
</body>
</html>
