body
  text-align: center

.section

  .inputForm:
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    label:
      display: block
    input:
      display: block
